.background-image-login {
    background: url("../../../../../assets/image/65305bed-753b-4906-b45d-54ce8ee7ec9a-USAT-_Pandemic_Dining_Outdoor_Cesarina_Parklets.png");
    background-size: 100vh 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
