// .photo-card {
//     width: 75%;
// }

// .item-order {
//     width: 25%;
//     margin-top: 10px;
//     border-style: groove;
//     border-radius: 8px;
// }
.box-tabs-component {
    width: 90%;
    margin: auto;
    margin-top: 10px;

    background-color: rgba(245, 239, 239, 0.55) !important;

    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
}
